html{
    margin: 0;
    
}
img{
    max-width: 1000px;
}
body {
    background-repeat: no-repeat;
    background-size: 156.5%;
    margin: 0;
    width: 100%;
    background-position: left -212px top -0.5px;
    background-image: url(../images/background.png);
    background-color: #f6f6f6;
}
header{
    
}
nav{
    padding: 30px 15px 30px;
    height: 40px;
    width: 77%;
    margin: auto;
    
}
.logoblock{
    display: inline-block;
    
}
.logo{
    width: 97px;
    display: inline-block;
    max-height: 40px;
}
nav>div>ul{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    

}
nav>div>ul>li{
    display: inline-block;
    margin: 2px 15.7px 0px;
    vertical-align: middle;
}
nav>div>ul>li:last-of-type{
    margin-right: 0px;
    margin-top: 4px;
}

nav>div>ul>li>span>a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color:#222;
    text-decoration: none; 
}
nav>div>ul>li>span>a:hover{
    color:#f6c43d ;
    border-bottom: 2px solid #f6c43d ;
    padding-bottom: 10px;

}

.social-networks{
    display: inline-block;
}
.social-networks>img{
    width: 30px;
    margin-left: 5px;
}
main{
    
    
    

}
.firstblockwidth{
    width: 77%;
    margin: auto;
}
.firstblockmain{
    max-width: 700px;
   
}
.firstblockmain>h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 125px;
    letter-spacing:-0.324px;
}

.firstblockmain>p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 200px;
    font-weight: 600;
    color:#f6c43d ;
    margin-top: 24px;
    line-height: 200px;
    letter-spacing: -3.9px;
    margin-bottom: 88px;
}
.learnmore{
    background-color: #1088e4;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding:17px  25px 17px;
    margin-bottom: 100px;
    font-weight: 700;
    color:  white;
    max-width: 270px;
    text-decoration: none;
    
}
.learnmore:hover{
    background-color:#f6c43d ;
    transition-duration: 0.3s;
}
.pricing{
    color:#f6c43d ;
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding:17px  25px 17px;
    margin-bottom: 100px;
    font-weight: 700;
    max-width: 270px;
    text-decoration: none;
    
}
.assortment{
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    margin:130px auto 0px;
    margin-bottom: 100px;
    
}
.card{
    
    display: flex;
    flex-basis: 33.3%;
    width: 460px;
    height: 580px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    max-width: 31.6%;
    flex-direction: column;
    
}
.imageblock {
    height: 300px;
    margin-top: 75px;
}
.imageblock img{
    width: 95%;
    
    
}
.card h2{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}
.card p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    text-align: center;
    color:rgb(137, 137, 137);
    font-weight: 400;
    line-height: 27.54px;
    max-width: 60%;
    text-align: center;
    margin: 0px auto 0px;
}
.product-buttons{

}
.product-buttons button{
    background-color: #f6c43d;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding:15px  25px 15px;
    margin:50px auto 100px;
    font-weight: 700;
    color:  white;
    max-width: 270px;
    text-decoration: none;
    display: block;
    border: 0px;
    

}
.product-buttons button:hover{
    background-color:#1088e4; 
    transition-duration: 0.3s;
}

.card:last-of-type{
    margin-right: 0px;
}
.card:first-of-type{
    margin-left: 0px;
}
#aboutus{
    width: 77%;
    margin: auto;
    display: flex;
    
}
.aboutus-h1{
    color: #f6c43d!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.4px;
}
.aboutus-h2{
    color: black;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: 0px;
}
.aboutus-h3{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.4px;
    letter-spacing: -0.324px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 30px;
}
.aboutus-maintext1{
    line-height:27.5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:rgb(137, 137, 137);
    margin-bottom: 30px;
    margin-top: 0px;
}
.aboutus-maintext2{
    line-height:27.5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:rgb(137, 137, 137);
}
.aboutusblock{
    flex-basis: 33%;
    max-width: 33%;
    
    
}
.btn-contact{
    margin-top:70px;
    background-color: #1088e4;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding:15px  28px 15px;
    margin-bottom: 100px;
    font-weight: 700;
    color:  white;
    max-width: 270px;
    text-decoration: none;
    border: none;
}

.btn-contact:hover{
    background-color:#f6c43d ;
    transition-duration: 0.3s;
}
.aboutus-photo{
    position:absolute;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    width: 100%;
    height: 1000px;
    background-position: left 0px top -50px;
    background-image: url(../images/aboutus.png);
}

.modal-body{
    display: none;
    width: 150px;
    height: 175px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #656565;
    margin-left: -60px;
}
.modal-body h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 200;
}
#num1{
    margin: 10px auto 5px;
    display: flex;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
#operator_btns{
    margin: auto auto 5px;
    display: block;
    width: 100px;
}

#num2{
    margin: auto auto 5px;
    display: flex;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.calcimage{
    width: 30px;
}
#result{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 300px;
}
.calcblock:hover .modal-body {
    display: block;
}
.responsibility-background{
    background-image: url(../images/responsible-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
}
.responsibility{
    display: flex;
    width: 77%; 
    margin: auto;
    flex-wrap: wrap;
}
.responsibility-left-side-block{

    display: block;
    flex-basis:33.3%;
    overflow-wrap: break-word;
    vertical-align:baseline;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-top: 30px;
}
.responsibility-center-block{
    width: 375px; 
    display: flex;
    overflow-wrap: break-word;
    vertical-align:baseline;
    flex-wrap: wrap;
    margin: 0px 30px 0px;
    
}
.responsibility-center-block img{ 
    width: 100%;
    
}
.responsibility-right-side-block{
    display: block;
    flex-basis:24%;
    overflow-wrap: break-word;
    vertical-align:baseline;
    flex-wrap: wrap;
    margin-left: 34px;
}
.responsibility-h1{
    color: #f6c43d;
    font-size: 14.5px;
    line-height: 22.4px;
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-stretch: 100%;
    height: auto;
    margin: 0;
    margin-top: 30px;
}
.responsibility-h2{
    color: black;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin: 30px auto 10px;
    line-height: 65px;
    letter-spacing: normal;
}
.responsibility-h3{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 15px auto 20px;
    letter-spacing: -0.324px;
    line-height: 29.7px;
}
.responsibility-maintext{
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 27.54px;
    font-weight: 400;
    margin: 30px auto 10px;
}
.responsibility-left-side-block ul li img{
    width: 20px;
    display: inline-block;
    margin-bottom:-4px;
}
.responsibility-left-side-block ul li p{
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 27.54px;
    font-weight: 400;
    display: inline-block;
    margin: 10px 8px 5px;
}
.responsibility-left-side-block ul {
    list-style: none;
    padding: 0;
}
.btn-info{
    margin-top:70px;
    background-color: #1088e4;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding:15px  28px 15px;
    margin-bottom: 100px;
    font-weight: 700;
    color:  white;
    max-width: 270px;
    text-decoration: none;
    border: none;
}
.btn-info:hover{
    background-color:#f6c43d ;
    transition-duration: 0.3s;
}
.responsibility-h4{
    color:rgb(16, 136, 228);
    letter-spacing: -1.8px;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 90px;
    margin: 25px auto 0px;
    text-align: center;


}
.responsibility-h5{
    color:black;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    margin: 25px auto 0px;
    text-align: center;


}
.responsibility-h6{
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 27.54px;
    font-weight: 400;
    text-align: center;
    


}
.carofthemonth-background{
    background-color:#1c1c1c ;
    padding-bottom: 100px;
}
#carofthemonth{
    
    width: 77%;
    margin: auto;
    flex-wrap: wrap;

}
.carofthemonth-h1{
    color: #f6c43d;
    font-size: 14.5px;
    line-height: 22.4px;
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-stretch: 100%;
    height: auto;
    margin: 0;
    padding-top: 120px;
    text-align: center;
}
.carofthemonth-h2{
    color:white;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 65px;
    margin: 25px auto 0px;
    text-align: center;
}
.carofthemonth-h3{
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 27.54px;
    font-weight: 400;
    margin: 30px auto 60px;
    text-align: center;
    max-width: 800px;
    letter-spacing: -0.44px;
    
}
.card-bestcar{
    width: 33.1%;
    display: inline-block;
    margin: auto;
}
.card-bestcar img{
    width: 93%;
    border-radius: 10px;
    margin: auto;
    display: block;
}
.carofthemonth-h4{
    font-family: "Barlow Condensed", sans-serif;
    line-height: 36.4px;
    letter-spacing: -0.56px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin: 15px auto 10px;
    width: 93%;

}
.carofthemonth-h5{
    width: 93%;
    margin: auto;
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 27.54px;
    font-weight: 400;
    margin: 0px auto 10px;
}
.form-background{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../images/responsible-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.form-image{
    background-image: url(../images/2012.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: inline-block;
    background-position: left 0px top 175px;
   
}
.form{
    width: 34%;
    margin-left:11.5%;
    background-color: white;
    padding:80px 30px 80px;
    color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
#form{
    width: 90%;
    margin: auto;
}
.form-h1{
    color: #f6c43d;
    font-size: 14.5px;
    line-height: 22.4px;
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-stretch: 100%;
    height: auto;
  
    text-align: center;
}
.form-h2{
    color: black;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin: 30px auto 10px;
    line-height: 65px;
    letter-spacing: normal;
    text-align: center;
}
.form-h3{
    color: rgb(137, 137, 137);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 27.54px;
    font-weight: 400;
    margin: 30px auto 60px;
    text-align: center;
    max-width: 80%;
    letter-spacing: -0.44px;
}

  
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
  }
  
  .form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: 0;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 95%;
    padding: 10px;
    font-size: 14px;
    color:  #959595
  }
  
  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }
  
  .form-control.success input {
    border-color: var(--success-color);
  }
  
  .form-control.error input {
    border-color: var(--error-color);
  }
  
  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  
  .form button {
    cursor: pointer;
    background-color: #3498db;
    border: none;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    letter-spacing: 0.15px;
    font-family: 'Ubuntu', sans-serif;
  }
  .form button:hover {
    background-color: #f6c43d;
    background-color:#f6c43d ;
    transition-duration: 0.3s;

  }